<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Dashboard</title>
  </head>
  <body>
  <!--Creating navbar outside of div to cover width of screen -->

    <nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-end">

    <i class="fa fa-bell fa-lg"></i>
    <a class="navbar-brand" href="#">Todos</a>
    <a class="navbar-brand" href="#">Clients</a>
    <a class="navbar-brand" href="#">Alerts</a>

  </nav>

  <!--Starting main content-->
<div class="container text-center">
  <h1>Cases</h1>
</div>
  
  </body>
</html>